:root {
    --fonte-principal: "Popins";
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo:#FECD2F;
    --roxo-degrade:linear-gradiente(94.49deg,#733887 35.48%,#C75EEB 143.32%);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background-color: white;
}